
<div id='customer'>
  <h2>
    <%= @customer.first_name %>
    <%= @customer.last_name %>
  </h2>

  <%= link_to "Edit", edit_customer_path(@customer) %>
  <%= link_to "Delete", customer_path(@customer),
        method: :delete,
        data: { confirm: "Are you sure you want to Delete this Customer?" } %>

  <div id='information'>
    <p>
      <%= number_to_phone(@customer.phone_number, area_code: true) %></br>
      <%= @customer.address %></br>
      <%= @customer.zip_code %></br>
    </p>
  </div>
</div>


<%= link_to "Tickets", customer_tickets_path(@customer)  %>
